<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre min</h1>
            <p>Olá sou Diego Amaral estudando de Web Full Stack</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>